:root
{
    --black: #171321;
    --dkblue: #0d314b; 
    --plum: #4b0d49;
    --hotmag: #ff17e4;
    --magenta: #e310cb;
    --aqua: #86fbfb;
    --white: #f7f8fa;
    --rem-size: 1.3rem;
    --mono: "Oxygen mono", monospace;
    --sans: Oxygen, sans-serif;
}

html
{
    box-sizing: border-box;
}

*, ::before, ::after
{
    box-sizing: inherit;
}

body
{
    background-color: var(--black);
    color: var(--white);
    padding: 0;
    margin: 0;
    font-family: var(--sans);
    font-size: var(--rem-size);
}

h1, h2, h3, h4
{
    margin: 0;
}

a
{
    color: var(--magenta);
}

a:hover
{
    color: var(--hotmag);
    text-decoration: none;
}

img
{
    width: 100%;
}

/* HORIZONTAL LINE  AND BACKGROUND*/
.color-gradient
{
    background: linear-gradient(90deg, rgba(255, 23, 228, 1) 0%, rgba(134, 251, 251, 1) 100%);
    height: 2px;
}

.about-bg-dkblue
{
    background-color: var(--dkblue);
}

/* NAVIGATION */

.main-nav
{
    font-family: var(--mono);
    font-size: 80%;
    padding: 4rem 1rem;
}

.main-nav .nav-list
{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 2rem;
}

.main-nav .nav-item:first-child
{
    flex-basis: 100%;
    text-align: center;
}

.main-nav .logo .item-link
{
    font-family: var(--sans);
}

.main-nav .item-link
{
    display: block;
    color: var(--white);
    text-decoration: none;
}

.main-nav [class*="fa-"]
{
    font-size: 150%;
    color: var(--aqua);
}

.main-nav .item-link:hover, .main-nav [class*="fa-"]:hover
{
    color: var(--magenta);
}
#button
{
    background-color: var(--magenta);
    color: var(--white);
    padding: 0.5rem;
    border-radius: 5px;
    text-decoration: none;
    font-family: var(--mono);
}

#button:hover
{
    background-color: var(--hotmag);
    color: var(--white);
}

.about-section
{
    max-width: 1200px;
    margin: 0 auto;
    padding: 4rem 1rem;
}

.about-section h2
{
    font-size: 2.5rem;
    margin-bottom: calc(2.5rem * 1.5);
}

.about-text h3
{
    color: var(--aqua);
}

.about-text .blackbox
{
    background-color: var(--black);
    color: var(--white);
    font-size: 1rem;
    line-height: 1.5;
    padding: 1rem;
    border-radius: 10px;
}

.about-text h4
{
    font-family: var(--mono);
}


.about-text ul
{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    gap: 1rem;
    font-size: 1rem;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.about-image
{
    border-top: 1px solid var(--aqua);
    border-left: 1px solid var(--aqua);
    border-radius: 25px;
    margin: 2rem 0rem 4rem 0rem;
    padding: 1rem;
}

.main-footer
{
    text-align: center;
    padding: 4rem 0;
}

.main-footer .footer-list
{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    list-style-type: none;
    padding: 0;
    margin: 2rem 0;
    font-size: 3rem;
}


@media (min-width: 550px)
{
    article
    {
        display: grid;
        grid-template-columns: 10, 1fr;
        gap: 1rem;
    }

    .about-image
    {
        grid-column: 1/6;
        grid-row: 1/2;
    }

    .about-text
    {
        grid-column: 5/11;
        grid-row: 1/2;
        order: 2;
        text-align: right;
    }

    .about-text ul
    {
        justify-content: flex-end;
    }
}


@media (min-width: 850px)
{
    .main-nav
    {
        max-width: 1200px;
        margin: 0 auto
    }

    .main-nav .nav-item:first-child
    {
        flex-basis: auto;
        text-align: left;
        margin-right: auto;
    }
}